<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/style.css">
    <style>

.card{
    transition:0.3s;
}

.card:hover{

    transform:translateY(-5px);

}

</style>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Customer Churn Predictor</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="background:#eef4ff;">
<div class="container py-5">

<div class="row justify-content-center">

<div class="col-lg-10">
<div class="card shadow-lg border-0 rounded-4 p-5">
<div class="text-center mb-5">

    <h1 class="fw-bold text-primary">
        Customer Churn Prediction System
    </h1>

    <p class="text-muted fs-5">
        Predict whether a telecom customer is likely to churn
        using Machine Learning.
    </p>

</div>

<form action="/predict" method="POST">

<h4 class="text-primary fw-bold mb-4">
    Customer Information
</h4>

<div class="row">

    <div class="col-md-6 mb-3">

        <label class="form-label">Gender</label>

        <select name="gender" class="form-select" required>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>

    </div>

    <div class="col-md-6 mb-3">

        <label class="form-label">Senior Citizen</label>

        <select name="senior_citizen" class="form-select" required>
            <option value="No">No</option>
            <option value="Yes">Yes</option>
        </select>

    </div>

</div>

<div class="row">

    <div class="col-md-6 mb-3">

        <label class="form-label">Partner</label>

        <select name="partner" class="form-select" required>
            <option>No</option>
            <option>Yes</option>
        </select>

    </div>

    <div class="col-md-6 mb-3">

        <label class="form-label">Dependents</label>

        <select name="dependents" class="form-select" required>
            <option>No</option>
            <option>Yes</option>
        </select>

    </div>


<h4 class="text-primary fw-bold mt-5 mb-4">
    Account Information
</h4>

<div class="row">

    <div class="col-md-6 mb-3">

        <label class="form-label">
            Tenure (Months)
        </label>

        <input
            type="number"
            name="tenure"
            id="tenure"
            class="form-control"
            min="0"
            max="72"
            placeholder="e.g. 24"
            required>

    </div>

    <div class="col-md-6 mb-3">

        <label class="form-label">
            Contract
        </label>

        <select name="contract" class="form-select" required>

            <option>Month-to-month</option>
            <option>One year</option>
            <option>Two year</option>

        </select>

    </div>

</div>

<div class="row">

    <div class="col-md-6 mb-3">

        <label class="form-label">
            Paperless Billing
        </label>

        <select name="paperless_billing" class="form-select" required>

            <option>Yes</option>
            <option>No</option>

        </select>

    </div>

    <div class="col-md-6 mb-3">

        <label class="form-label">
            Payment Method
        </label>

        <select name="payment_method" class="form-select" required>

            <option>Bank transfer (automatic)</option>
            <option>Credit card (automatic)</option>
            <option>Electronic check</option>
            <option>Mailed check</option>

        </select>

    </div>

</div>

<h4 class="mt-5 mb-4 text-primary fw-bold">
    Service Information
</h4>

<div class="row">

    <div class="col-md-6 mb-3">

        <label class="form-label">Phone Service</label>

        <select name="phone_service" class="form-select" required>
            <option>Yes</option>
            <option>No</option>
        </select>

    </div>

    <div class="col-md-6 mb-3">

        <label class="form-label">Multiple Lines</label>

        <select name="multiple_lines" class="form-select" required>
            <option>Yes</option>
            <option>No</option>
            <option>No phone service</option>
        </select>

    </div>

</div>

<div class="row">

    <div class="col-md-6 mb-3">

        <label class="form-label">Internet Service</label>

        <select name="internet_service" class="form-select" required>
            <option>DSL</option>
            <option>Fiber optic</option>
            <option>No</option>
        </select>

    </div>

    <div class="col-md-6 mb-3">

        <label class="form-label">Online Security</label>

        <select name="online_security" class="form-select" required>
            <option>Yes</option>
            <option>No</option>
            <option>No internet service</option>
        </select>

    </div>

</div>

<div class="row">

    <div class="col-md-6 mb-3">

        <label class="form-label">Online Backup</label>

        <select name="online_backup" class="form-select" required>
            <option>Yes</option>
            <option>No</option>
            <option>No internet service</option>
        </select>

    </div>

    <div class="col-md-6 mb-3">

        <label class="form-label">Device Protection</label>

        <select name="device_protection" class="form-select" required>
            <option>Yes</option>
            <option>No</option>
            <option>No internet service</option>
        </select>

    </div>

</div>

<div class="row">

    <div class="col-md-6 mb-3">

        <label class="form-label">Tech Support</label>

        <select name="tech_support" class="form-select" required>
            <option>Yes</option>
            <option>No</option>
            <option>No internet service</option>
        </select>

    </div>

    <div class="col-md-6 mb-3">

        <label class="form-label">Streaming TV</label>

        <select name="streaming_tv" class="form-select" required>
            <option>Yes</option>
            <option>No</option>
            <option>No internet service</option>
        </select>

    </div>

</div>

<div class="row">

    <div class="col-md-6 mb-3">

        <label class="form-label">Streaming Movies</label>

        <select name="streaming_movies" class="form-select" required>
            <option>Yes</option>
            <option>No</option>
            <option>No internet service</option>
        </select>

    </div>

</div>



<h4 class="text-primary fw-bold mt-5 mb-4">
    Billing Information
</h4>


<div class="row">

    <div class="col-md-6 mb-3">

        <label class="form-label">
            Monthly Charges
        </label>

        <input
            type="number"
            name="monthly_charges"
            id="monthly_charges"
            class="form-control"
            min="0"
            max="150"
            step="0.01"
            placeholder="e.g. 79.99"
            required>

    </div>

    <div class="col-md-6 mb-3">

    <label class="form-label">
        Total Charges
    </label>

    <input
        type="number"
        name="total_charges"
        id="total_charges"
        class="form-control"
        readonly>

</div>

</div>

<div class="d-grid mt-4">

    <button
        type="submit"
        class="btn btn-primary btn-lg rounded-3">

        🔍 Predict Customer Churn

    </button>

</div>

{% if prediction %}

<div class="alert
{% if "Stay" in prediction %}
alert-success
{% else %}
alert-danger
{% endif %}
mt-5 shadow rounded-4 text-center p-4">

    <h2 class="fw-bold">
        {{ prediction }}
    </h2>

    <hr>

    <h5 class="text-muted">
        Churn Probability
    </h5>

    <h3 class="text-primary">
        {{ probability }}%
    </h3>

</div>

{% endif %}

</form>
</div>
</div>
<hr class="mt-5">

<footer class="text-center text-muted py-3">

    <small>
        Built with ❤️ using
        <strong>Python</strong> •
        <strong>FastAPI</strong> •
        <strong>Scikit-learn</strong> •
        <strong>Bootstrap</strong>
    </small>

</footer>
</div>

</div>
<script>

const tenure = document.getElementById("tenure");
const monthly = document.getElementById("monthly_charges");
const total = document.getElementById("total_charges");

function calculateTotal() {

    const t = parseFloat(tenure.value) || 0;
    const m = parseFloat(monthly.value) || 0;

    total.value = (t * m).toFixed(2);

}

tenure.addEventListener("input", calculateTotal);
monthly.addEventListener("input", calculateTotal);

</script>
</body>
</html>
